<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Shop-Cars - O carros dos sonhos aqui</title>
  <%= stylesheet_link_tag 'reset', 'style', 'nav', 'jquery.popeye', 'jquery.popeye.style' %>
  <%= javascript_include_tag 'lightbox', 'defaults' %>


</head>
<body>
  <div id="page">
    <div id="header">
    	<h1 id='top'><%= link_to "Shop Cars", root_path %></h1>
    	<h2 id='top'> O carro dos seus sonhos aqui</h2>

  		<ul id="nav">
    		<li id="first"><%= link_to "Home", root_path %></li>
    	</ul>

		  <ul id="top-nav">
				<li><%= link_to 'Admin', admin_cars_path %></li>
			</ul>
      <div class="clear"></div>
    </div>

  	<div id="content">
		  <div id="content-left">
			  <div class="box-left">
			  	<div id="ex-wrap">
			  	  <h1>Carros</h1>
            <% @cars.each_with_index do |car, index| %>
               <div id="popeye<%= index+1 %>" class="ppy" style="float:<%= index.odd? ? "right":"left" %>;">
                <div style="clear:both;float:left">
                  <div class="ppy-no-js" id="popeye<%= index+1 %>-no-js">
                    Please stand by, images loading!
                  </div>
                  <ul>
                  <% car.images.each do |image| %>
                    <li>
                     <%= link_to (image_tag image.picture.url(:thumb), {:alt => image.description}), image.picture.url(:medium) %>
                    </li>
                  <% end %>
                  </ul>
                </div>
              </div>
              <div id="indexcar" style="float:<%= index.odd? ? "right":"left" %>;">
              <table>
                <tr>
                  <th>Mark:</th>
                  <th><%=h car.mark %></th>
                </tr>
                <tr>
                  <th>Model:</th>
                  <th><%=h car.model %></th>
                </tr>
                <tr>
                  <th>Year:</th>
                  <th><%=h car.year %></th>
                </tr>
                <tr>
                  <th>Fuel:</th>
                  <th><%=h car.fuel %></th>
                </tr>
                <tr>
                  <th>Color:</th>
                  <th><%=h car.color %></th>
                </tr>
                <tr>
                  <th>Description:</th>
                  <th><%=h car.description %></th>
                </tr>
              </table>
              </div>
              <br style="clear:both">
              <br /><br /><br />
            <% end %>
          </div>
          <%= javascript_include_tag 'jquery.min', 'jquery.popeye-1.0.min' %>
          <script type="text/javascript">
            <!--//<![CDATA[


                $(document).ready(function () {
                <% @cars.each_with_index do |car, index| %>
                $("#popeye<%= index+1 %>").popeye();
                <% end %>
            });

            //]]>-->
          </script>
          </div>

      </div><!-- end box-left -->
     <div id="content-right">
  		<div class="box-right">
    		<h4>Search</h4>
    			<div id="searchform">
    				<form style="width:auto;" method="get" action="">
    					<input name="s" id="search" type="text">&nbsp;
    					<input id="search-submit" class="button" name="submit" value="Search" type="submit">
    				</form>
    			</div>
    		</div>
    </div><!-- end content-right -->
	  <div class="clear"></div>
    </div><!-- end content -->
    <div id="footer">
    	<div id="legal">
		    <p>Copyright © 2009 <%= link_to "Shop Cars", root_path %></p>
	    </div>
  	<div class="clear"></div>
  </div><!-- end footer -->
</div><!-- end page -->
</body>
</html>

